<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/styleEmCartaz.css">
      <link rel="stylesheet" href="css/navbar.css">
      <link rel="stylesheet" href="css/footer.css">
      <script src="../public/scripts/header.js"></script>
      <title>Brasinema</title>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>  <!-- Header-->
    
        <main>
            <div class="maingrid">
                <div class="titleContainer">
                    <h1 id="title">Filmes em Cartaz</h1> 
                </div>
                <br>
                <div class="gridContainer">
                    <Section class="grid grid-template-rows-4">
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        <div class="item">
                            <img src="imagens/filmes/small/img3.jpg" alt="img1" width="100%">
                            <p>Movie Name</p>
                        </div>
                        
                    </Section>
                </div>
                
                    
            </div>
        </main>
           
            

        <%- include("./partials/footer.ejs") %> <!-- Footer-->


    </body>