/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

*{
    margin: 0;
    padding: 0;
}
a{
    color: #ffd700;
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
}

a:hover{
    opacity: 0.7;
}

.logo img{
    width: 10vh;

}

header{
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    height:8vh;
    font-family: Arial , Helvetica, sans-serif;
    margin-left: 17%;
    margin-right: 17%;
    justify-content: space-between;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list > li{
    letter-spacing: 3px;
    margin-left: 32px;
}

/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

body{
    background-image: linear-gradient(45deg, rgb(73, 73, 73), rgb(0, 0, 0));
}

.formCompra{
    display: inline-block;
    text-align: center;
    color: white;
    margin: 100px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: rgb(59, 59, 59);
}

#title{
    font-size: 30px;
}

.caixatxt{
    font-size: 20px;
}

.subButton{
    font-size: 20px;
    padding: 5px 10px;
}

main {
    background-size: cover;
    height: 90vh;
    text-align: center;
    margin-left: 17%;
    margin-right: 17%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.divProgram{
    margin-top: 20px;
}

.divTitle{
    color: white;
    font-size: 35px;
    text-align: left;
}

.programLine{
    border-style: solid;
    border-width: 0px;
    border-color: black;
    background-color: rgb(26, 26, 26);
}

.programText{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 30px;
    color: black;
    background-color: gray;
    padding: 10px 40px;
    text-align: left;

}

.programDate{
    display: inline;
}

.dateText{
    display: inline;
}

.divSeta{
    display: inline;
    float: right;
}

.programContentFull{
    color: white;
    padding: 25px 40px;
    font-size: 25px;
}

.programContent{
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.programBanner{
    display: inline-block;
    position: relative;

}

.bannerText{
    text-align: center;
}

.nextSeason{
    text-align: left;
}









/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/

.footer-div{
    display: flex;
    height: 12vh;
    color: #ffd700;
    background-color: black;
    justify-content: space-evenly;
    margin-top: 40px;
}

.footer-img{
    width: 150px;
}

.margem-p{
    margin-top: 5vh;
}

/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/