body {
    background-image: url(file:///C:/Users/Jo%C3%A3o/Documents/GitHub/Cinema/Brasinema/background.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    color: white;
    
    
}

#img1{ float: left;


}


.principal{
     
    margin-left: 400px;
    margin-right: 400px;

    

}




    
    
    
    
    
