/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

*{
    margin: 0;
    padding: 0;
}
a{
    color: #ffd700;
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
}

a:hover{
    opacity: 0.7;
}

.logo img{
    width: 10vh;

}

header{
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    height:8vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 17%;
    margin-right: 17%;
    justify-content: space-between;
}

.fundo {
    background-image: linear-gradient(45deg, rgb(73, 73, 73), rgb(0, 0, 0));
    background-position: 100%;
    background-size: auto;
    background-repeat: repeat;
    height: 115vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list > li{
    letter-spacing: 3px;
    margin-left: 32px;
}

/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/

.sliderW1{
    width: 89%;
    margin: 0 auto;
}

.sliderW2{
    width: 30%;
    max-width: 89%;
    height: 20%;
    max-height: 30%;
    margin: 0 auto;
}

button.slick-prev.slick-arrow{
    font-size: 0px;
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url(arrowE.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 35%;
    left: 2%;
    z-index: 1;
}

button.slick-prev.slick-arrow:hover{
    opacity: 0.5;
    cursor: pointer;
}

button.slick-next.slick-arrow:hover{
    opacity: 0.5;
    cursor: pointer;
}

button.slick-next.slick-arrow{
    font-size: 0px;
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url(arrowD.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 35%;
    right: 2%;
    z-index: 1;
}

.sliderA{
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
}

.sliderB{
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    }
    
        
.sliderA > img{
    width: 100%;
    height: auto;
}

.sliderB > img{
    width: 100%;
    height: auto;
}



/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/

/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

main{background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
} 

body{
    background-image: linear-gradient(45deg, rgb(73, 73, 73), rgb(0, 0, 0));
}

.body_main{
    margin: auto;
    padding-top: 50px;
    width: 100%;
    height: auto;
}

.psala{
    display: inline;
}

.sessiontitle{
    color: white;
    padding: 10px 15px;
}

.movietitle{
    font-size: 23px;
}

.square{
    border-style: solid;
    border-color: rgb(24, 24, 24);
    border-width: 1px;
}
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/

.movieimg{ 
    float: right;
    color: #fff;
    position: relative;
    padding-left: 15px;
}

.moviecontent{
    text-align: left;
    font-size: 17px;
}

#txtbatman{
    text-align: justify;
}

.principal{
    color: white;
    text-align: left;
    position: relative;
    top: 18%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffd700;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    background-color: rgb(24, 24, 24);
}

/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/

/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/

.footer-div{
    display: flex;
    height: 12vh;
    color: #ffd700;
    background-color: black;
    justify-content: space-evenly;
    margin-top: 40px;
}

.footer-img{
    width: 150px;
}

.margem-p{
    margin-top: 5vh;
}

/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
