/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

*{
    margin: 0;
    padding: 0;
}
a{
    color: #ffd700;
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
}

a:hover{
    opacity: 0.7;
}

.logo img{
    width: 10vh;

}

header{
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    height:8vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 17%;
    margin-right: 17%;
    justify-content: space-between;
}

.fundo {
    background-image: linear-gradient(45deg, rgb(73, 73, 73), rgb(0, 0, 0));
    background-position: 100%;
    background-size: auto;
    background-repeat: repeat;
    height: 115vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list > li{
    letter-spacing: 3px;
    margin-left: 32px;
}

/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 66%;
  position: relative;
  margin: auto;
  margin-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

#firstdiv{
    display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #494949;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/
/*_____________________SLIDER_______________________*/

/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

main{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-image: linear-gradient(45deg, rgb(73, 73, 73), rgb(0, 0, 0));
    height: auto;
    padding-bottom: 100px;
} 


.body_main{
    margin: auto;
    padding-top: 50px;
    width: 100%;
    height: auto;
}

.psala{
    display: inline;
}

.sessiontitle{
    color: white;
    padding: 10px 15px;
}

.movietitle{
    font-size: 23px;
}

.square{
    border-style: solid;
    border-color: rgb(24, 24, 24);
    border-width: 1px;
}


.programContent{
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.programBanner{
    display: inline-block;
    position: relative;

}


.imgbanner{
    border-style: solid;
    border-width: 0.1vh;
    border-color: #111111;
}
.filmesDestaque{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    display: block;
    margin-left: 17%;
    margin-right: 17%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 100px;
}

.bannerText{
    background-color: #111111;
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    border-color: #111111;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: bold;
}
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/

.movieimg{ 
    float: right;
    color: #fff;
    position: relative;
    padding-left: 15px;
}

.moviecontent{
    text-align: left;
    font-size: 17px;
}

#txtbatman{
    text-align: justify;
}

.principal{
    color: white;
    text-align: left;
    position: relative;
    top: 18%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffd700;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 20px;
    background-color: rgb(24, 24, 24);
}

/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/
/*_____________________IMAGEM_______________________*/

/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/

.footer-div{
    display: flex;
    height: 12vh;
    color: #ffd700;
    background-color: black;
    justify-content: space-evenly;
}

.footer-img{
    width: 150px;
}

.margem-p{
    margin-top: 5vh;
}

/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
/*_____________________FOOTER_______________________*/
