<header>
    <nav>
        <a class="logo" href="/">
            <img src="../../public/imagens/overlay/Logo.png">
        </a>
        <ul class="nav-list">
          <li><a href="/Em-Cartaz">Em Cartaz</a></li>
          <li><a href="/em-breve">Em Breve</a></li>
          <li><a href="/programacao">Programação</a></li>
        </ul>
    </nav>
  </header>