<header>
    <nav>
        <a class="logo" href="/">
            <img src="../../public/imagens/overlay/Logo.png">
        </a>

        <ul class="nav-list">
          <li><a href="/Em-Cartaz">Em Cartaz</a></li>
          <li><a href="/em-breve">Em Breve</a></li>
          <li><a href="/programacao">Programação</a></li>
        </ul>

        <div id="citySelect">
          <img src="../../public/imagens/overlay/locationPin.png" height="32px" id="locationImg" itemid="locationImg">

          <div id="cityText"><p>Programação em</p>
            <p id="city">Curitiba-PR</p>
          </div>
        </div>
    </nav>
  </header>