/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

*{
    margin: 0;
    padding: 0;
}
a{
    color: red;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

.logo img{
    width: 12vh;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 7vh;
}

main {
    background: url(background.jpg) no-repeat center center ;
    background-size: cover;
    height: 93vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list > li{
    letter-spacing: 3px;
    margin-left: 32px;
}

/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/
/*_____________________NAV_______________________*/

/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/

.body_main{
    background-color: rgb(117, 116, 116);;
    margin: auto;
    width: 85%;
    height: auto;
}

/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/
/*_____________________BODY_______________________*/


#img1{ float: right;
    
    color: #fff;
    
    



}




.principal{
    background-color: black;
    margin-left: 575px;
    margin-right: 575px;
    color: darkred;
    text-align: left;
    position: absolute;
    top: 18%;
    font-family: sans-serif;
    font-size: 18px;
    
    

   
    
    
    
    
    
    
   

}

