.footer-div{
    display: flex;
    height: 12vh;
    color: #ffd700;
    background-color: black;
    justify-content: space-evenly;

}

footer{
    bottom:0;
    width:100%;
}   
.footer-img{
    width: 150px;
}

.margem-p{
    margin-top: 5vh;
}